.container {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    max-width: 1050px;
}

.box {
    flex: 1;
    display: flex;
    /* make the contents controllable by flexbox*/
    flex-flow: column;
    min-width: 240px;
    margin: 10px;
    padding: 20px;
    background-color: #000;
}

.one_box {
    height: 300px;
    width: 300px;
    background-color: red;
}

.hightlighted {
    background-color: aquamarine;
}

#example {
    width: 900px;
    height: 200px;
    background-color: grey;
}